<footer>
<nav class="navbar search bg-light">
  <div class="navbar-brand">
    <label for="genre" class="sr-only">Select a genre</label>
      <select name="genre" class="form-select text-center" id="genre">
          <option>--Select a genre--</option>
          <% for(let genre in genres) { %>
          <option><%= genre %></option>
      <% } %>
      </select>
  </div>
  <div class="nav-link">
    <input type="search" class="form-control rounded text-center" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  </div>
</nav>

<nav class="navbar bg-dark">
    <a class="navbar-brand text-muted" href="/">© Cinémas Pathé Gaumont</a>
    <a id="page" class="nav-link text-muted" >Page 1 </a>
</nav>
</footer>
</body>
</html>


