<footer>
<nav class="navbar bg-dark">
    <a class="navbar-brand text-muted" href="/">© Cinémas Pathé Gaumont</a>
    <a id="page" class="nav-link text-muted" >Page 1 </a>
</nav>
</footer>
</body>
</html>


