<footer class="d-none">
    <nav class="navbar bg-light">
      <a class="navbar-brand text-muted" href="/">© Cinémas Pathé Gaumont</a>
      <a id="page" class="nav-link text-muted" >Page 1 </a>
  </nav>
</footer>
</body>
</html>