        </div>
            <footer>
            <nav class="navbar bg-dark px-3">
                <a class="navbar-brand text-muted" href="/">© Cinémas Pathé Gaumont</a>
                <a id="page" class="nav-link text-muted"></a>
            </nav>
            </footer>
        </div>
    </body>
</html>


