  <header>
    <nav class="navbar bg-dark p-3">
        <a class="navbar-brand" href="/">Pathé Gaumont</a>
        <% if (login) { %>
        <div>
        <a href="/dashboard"><img class="rounded-circle mx-3" id='profile' src="<%=avatar%>"></a>
        <a role="button" id='login' class="btn btn-outline-primary log" href="/login/logout">Log Out</a>
        </div>
        <% } else { %> 
        <a role="button" id='login' class="btn btn-outline-primary log" href="/login">Log In</a>
        <% } %>
    </nav>
  </header>
  <div id="page-container" class="position-relative min-vh-100">
  <div id="content-wrap">