  <body class="body">
  <header>
    <nav class="navbar bg-dark">
        <a class="navbar-brand" href="/">Pathé Gaumont</a>
        <a class="nav-link" href="/login">Log In</a>
    </nav>
  </header>