<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <div class="m-5 d-flex flex-column align-items-center justify-content-center">
        <div id="movie-details" class="container d-flex flex-column align-items-center"></div>
        <div class="border border-primary p-3 w-50 my-4 d-flex flex-column align-items-center">
            <h1> Welcome <%=name%></h1>
            <a href="/">View movies</a>
        </div>
    </div>
<%- include('./partials/footer') %>
