<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div class='container w-75 center-div'>
    <div class='container w-20 border p-5'>
        <h2 class='text-center my-4'>404</h2>
        <h2 class='text-center my-2'>Sorry that page does not exist!</h2>
</div>
<%- include('./partials/footer') %>