  <%- include('./partials/header') %>
    <main role="main" class="container">
      <h1 class="mt-5">JQuery + TMDB API</h1>
      <div id="page-title"></div>
      <label for="genre">Select a genre</label>
      <select name="genre" id="genre">
          <option>--Select a genre--</option>
          <% for(let genre in genres) { %>
          <option><%= genre %></option>
          <% } %>
      </select>
      <div id="api-test"></div>
        <nav id="pages" class="d-none" aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item prev-page">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item next-page">
              <a class="page-link">Next</a>
            </li>
          </ul>
        </nav>
    </main>
<%- include('./partials/footer') %>
